.footer {
    width: 900px;
    margin: 0 auto;
    .desc {
        margin: 1rem 0;
        padding: 1rem;
        text-align: center;
        p {
            bottom: 1rem;
            margin: 0 auto;
            font-weight: 300;
            font-size: 1.4rem;
            color: var(--mbgray);
            b a {
              text-decoration: 2px underline;
              color: var(--mbgray);
              opacity: .7;
              transition: .3s;
              font-weight: 500;
              &:hover {
                opacity: 1;
              }
            }
            a {
              text-decoration: none;
              color: var(--mbdark);
              opacity: .7;
              &:hover {
                opacity: 1;
              }
            }
        }
    }
}      