.main {
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    transition: .3s;
    flex: 1;
} 

.about {
    margin: 0 auto;
    max-width: 38rem;
    transition: .3s;
    img {
        margin: 0 auto;
        transition: .3s;
    }
    p {
        color: var(--mbdark);
        margin: 2rem 0;
        text-align: justify;
        line-height: 1.5;
        &#en {
            line-height: 2;
            font-size: 1.4rem;
            font-style: italic;
            font-weight: 300;
            border-top: 1px solid var(--mbgray);
            color: var(--mbgray);
        }
    }
    strong {
        color: var(--mbindigo);
        border-bottom: 3px dashed var(--mbindigo);
        transition: .3s;
        &:hover {
            color: var(--mbred);
            border-bottom: 3px dashed var(--mbred);
        }
    }
}

.profile {
  width: 25rem;
  height: 18rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: .5rem;
 img {
    width: 25rem;
    border: 3px solid var(--mbdark);
    border-radius: .5rem;
    display: flex;
    transition: .3s;
    filter: grayscale(1);
    &:hover {
        border: 3px solid var(--mbindigo);
        filter: grayscale(0);
     }
  }
}

@media screen and (min-width: 700px) {
    .about {
        max-width: 640px;
    }
    
}
